

body {
    font-family: 'Lato', sans-serif;
}

/*cuando la pantalla sea pequeña la barra del menu es color oscuro*/
.bg-success{
    background-color:  #343a40!important;
}

/*grosor de las letras*/
h1, h2, h3, h4 {
    font-weight: 300;
}

/*query si la pantalla es grande sea la barra transparente*/
@media (min-width: 768px) {
    .barra.bg-success{
        background-color: transparent!important;
    }
    .header{
        position: relative;
    }
    .header .barra {
        position: absolute;
        z-index: 100;
        width: 100%;
    }
}

/*mejorando el grosor de la letra y tamaño*/
.navbar-brand {
    font-size: 2rem;
    font-weight: 300;
}
.navbar-brand span {
    font-weight: 900;
}
    /*tipo de letra*/
.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    color: white;
    font-size: 0.8rem;
}
        /*dropdown*/
.dropdown-menu {
    background-color: #343a40;
}
.dropdown-item {
    color: white;
}
            /*cuando halla seleccion de anuncios se nota la barra seleccionada*/
.dropdown-menu .dropdown-item:hover {
    background-color: #414549be;
    color: white;
}
/*caption*/
.carousel-caption h3 {
    font-size: 2.4rem;
}
.bloque-info p {
    font-size: 1.4rem;
}
.btn-warning {
    background-color: lightslategrey;
    color: white;
    font-weight: 700;
    border: none;
}
.btn-warning:hover {
    background-color: rgba(240, 143, 16, 0.671);
}
/*MAS SOBRE NOSOTROS sobre-nosotros*/
.sobre-nosotros h3 {
    font-size: 1rem;
    font-weight: 700;
}

/*Anuncios*/
.anuncios .card {
    margin-bottom: 2rem;
}
.card-precio {
    font-size: 1.1rem;
    color: rgba(0, 151, 13, 0.856);
    font-weight: 600;
}
.card-descripcion img {
    margin-right: 0.5rem;
}
/*encuentra*/
.encuentra {
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
    /*alto de la imagen*/
.encuentra .row {
    height: 25rem;
}
.encuentra h3 {
    font-size: 2.2rem;
    font-weight: 900;
}


/*blog*/
.entrada h3::after {
    content:'';
    display: block;
    width: 8rem;
    height: 0.2rem;
    background-color: seagreen;
    margin-top: 0.5rem;
}
.meta span {
    Color: orange;
}
.btn-success {
    background-color: rgba(0, 151, 13, 0.856);
    text-transform: uppercase;
    font-weight: 600;
}
.btn-success:hover {
    background-color: rgb(11, 141, 22);
}